body{
    font-family: "Arial";
}
header, main, footer {
max-width: 640px;
margin: 1rem auto;
border: 1px solid #ffffff;
padding: 1rem;
background-color: rgb(150, 40, 144);
color: white;
}
h1{
    text-align: center;
}

.navigation{
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding: 0.5em;
    
}
.navigation a{
    color: white;
    text-decoration: none;
}
.navigation a:hover{
    background-color: rgb(47, 1, 39);
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: solid white;
    box-shadow: 5px 5px 5px black;
    
}
.gallery{
    justify-content: center;   
}

@media screen and (min-width: 700px){
    .gallery{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(1,1fr);
    }

}

@media (max-width: 700px) {
    .navigation{
        flex-direction: column;
        align-items: center;
    }
    
}
@media (min-width: 100px) {
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }
    
}
@media (min-width: 601px) and (max-width: 1000px) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    
}
.hidden {
    display: none;
}
.menu-button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: white;
    color:rgb(150, 40, 144) ;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}
.menu-button:hover{
    background-color: rgb(136, 252, 211);
}
@media screen and(min-width: 768px){
    .menu-button{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content:center;
        gap:20px;
    }
    .navigation li{
        margin: 0;

    } 
}
.viewer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.75) ;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    z-index: 10;
}
