body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#333 ;
    color: white;
}
.dark h2{
    color:rgb(124, 178, 249) ;
}
p{
    text-align: left;
    padding: 20px;
}

.content{
    max-width: 600px;
    margin: 20px auto;
    padding: 100px;
    border: 1px solid black;
}
h1{
    padding: 10px;
    letter-spacing: .3rem ;
}

h2 {
    color: #86bfe4;
    font-weight: 100;
    font-size: medium;
    letter-spacing: .2rem;
}
h3{
    font-style: italic;
    text-align: left;
}

.list{
text-align: left;

}
.logo{
    width: 150px;
    height: auto;
}